.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  /* border: 2px solid green; */
}

h1 {
  margin: 0px;
  grid-column: 3 / 11;
  text-align: center;
  /* border: 1px dashed pink; */
}

h6 {
  margin: 0px;
  grid-column: 3 / 11;
  text-align: center;
  /* border: 1px dashed pink; */
}

.add-section {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: 2px solid black; */
}

.form-button {
  width: fit-content;
}